/* PokeCard Styles */

/* templates.css */
.pokemon-card {
    width: max-content;
    border: 5px solid #ffffff;
    border-radius: 16px;
    background-color: #000000;
    background: var(--card-bg, #000000);
    padding: 12px;
    cursor: pointer;
}

.pokemon-card-button {
    color: #ffffff;
}

/* PokeCard Styles END */